<!-- action="/example" -->
		<!-- action is the route where 
		the request will be sent
		on submission -->
	<!-- method="GET" or "POST" -->
		<!--Just http verb used on
		submission of the form -->



	<h1>Find a Movie!</h1>

	<form accept-charset="UTF-8" action="/result" method="post">
	   <label for="movie">Search for:</label>
	   <input id="movie" name="movie" type="text" />
	   <input name="commit" type="submit" value="Search" /> 
	</form>


