<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
		<title>Search Movies</title>
	</head>


	<body>
		

			<%= yield %>

		
	</body>

</html>