<div clas="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Movie Search Results</h1>
		</div>
	<div> <!--end of row-->

	<div class="row">
		<div class="col-xs-12">
			<ul>
		  
				<% @result.each do |x| %>
					<li><a href= 
						<%= "/poster/#{x["imdbID"]}" %> > 
						<%= "#{x["Title"]} - #{x["Year"]}" %> 
					</a></li>
				<% end %>

		 	</ul>
		<div>
	<div> <!--end of row-->
<div> <!--end of container-->